@import url(https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css);

body {
    font-family: 'SUIT', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

section {
    position: relative;
    z-index: 0;
    height: 100vh;
    background-color: aliceblue;
}

.hero {
    background: url(../img/s-bg.png) no-repeat center/cover;
}


.rel {
    width: 1560px;
    margin: auto;
    position: relative;
    height: 100%;
}

header {
    position: fixed;
    z-index: 5;
    width: 100%;
    top: 0;
    /* background-color: #fff; */
}

header .rel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0;
}

nav,
.nav_list {
    display: flex;
}

nav {
    gap: 100px;
}

.nav_list {
    gap: 60px;
}

.nav_list a {
    text-transform: uppercase;
    display: block;
    font-weight: 500;
    letter-spacing: -.1px;
    color: #000;
}

header h1 {
    text-transform: capitalize;
    font-weight: 800;
    font-size: 30px;
}

.nav_btn {
    display: block;
    width: 35px;
    height: 21px;
    position: relative;
    background-color: antiquewhite;
}

.nav_btn span {
    display: block;
    width: 100%;
    background-color: #9B9B9B;
    font-size: 0;
    height: 3px;
    position: absolute;
}

.nav_btn span:nth-child(1) {
    top: 0;
}

.nav_btn span:nth-child(2) {
    top: calc(50% - 1.5px);
}

.nav_btn span:nth-child(3) {
    top: calc(100% - 3px);
}

/* hero */
.hero .rel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .tit_wrap h2 {
    font-size: 100px;
    font-weight: 900;
    letter-spacing: -1px;
    color:  rgba(255, 103, 93, 1);
}

.hero .tit_wrap p {
    margin: 30px 0;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -1px;
    color: rgba(125, 125, 125, 1);
}

.hero_btn {
    display: inline-block;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 60px;
    color: black;
    text-transform: capitalize;
    transition: all .2s ease-in;
}

.hero_btn:hover {
    background-color: aliceblue;
    transform: scale(1.05);
}

.hero .img_wrap {
    width: 916px;
    transform: translateX(90px);
    position: relative;
}

.card_arr {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 0;
    top: calc(50% - 20px);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}
.card_arr:hover {
    transform: scale(1.05);
    box-shadow: 0 0 4px rgb(99, 99, 99);
}
.card_arr.left {
    left: -60px;
    background-image: url(../img/arrow_left.png);
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    background-size: 18px;
}

.card_arr.right {
    right: -60px;
    background-image: url(../img/arrow_right.png);
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    background-size: 18px;
}

.card_wrap {
    display: flex;
    gap: 38px;
}

.card {
    width: 280px;
    height: 430px;
}

.card a {
    display: block;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 103, 93, 1);
    color: white;
    border-radius: 30px;
    box-shadow: 0 -5px 17px rgba(0, 0, 0, 0.25);
    transition: all .2s ease-in;
}
.card a:hover {
    background-color: rgb(245, 42, 42);
    transform: scale(1.05);
}
.card_t_wrap {
    margin-top: 30px;
}

.person_wrap {
    height: 200px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;    
    background-repeat: no-repeat;
}

.card1 a .person_wrap {
    background-image: url(../img/person1.png);
}

.card2 a .person_wrap {
    background-image: url(../img/person2.png);
}

.card3 a .person_wrap {
    background-image: url(../img/person3.png);
}

.card_t_wrap p.txt {
    font-size: 16px;
    letter-spacing: -1%;
    font-weight: 100;
    text-transform: uppercase;
}

.card_t_wrap h4 {
    margin: 7px 0 14px;
    font-size: 24px;
}

.card .arr_wrap {
    text-align: right;
}
.rel {
    position: relative;
    z-index: 1;
}
section.hero::after {
    display: block;
    content: "";
    width: 100%;
    height: 100px;
    position: absolute;
    top: 70%;
    z-index: 0;
    transform: translateY(-50%);
    background-image: url(../img/bg.png);
    background-repeat: repeat-x;
    background-position: center;
}